@font-face {
	font-family: "RoadRadio";
	src: url("../fonts/RoadRadio-Light.eot") /* EOT file for IE */
}
@font-face {
	font-family: "RoadRadio";
	src: url("../fonts/RoadRadio-Light.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: "RoadRadioBold";
	src: url("../fonts/RoadRadio-Bold.eot") /* EOT file for IE */
}
@font-face {
	font-family: "RoadRadioBold";
	src: url("../fonts/RoadRadio-Bold.ttf") /* TTF file for CSS3 browsers */
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
body {
	font: 16px/1.2em  'Roboto', sans-serif;
    color: #28363f;
}
strong {
	font-weight: 700;
}
html, body{
	height: 100%;
}
a {
	color: #0f5493;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0;
}
h1 {
	font-size: 37px;
	color: #28363f;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 30px;
}
h2 {
	font-size: 42px;
	color: #28363f;
	font-family: 'RoadRadio', 'Roboto', sans-serif;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 53px;
}
h3 {
	font-size: 26px;
	color: #28363f;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 33px;
}
h4 {
	font-size: 14px;
	color: #3b444d;
	font-weight: bold;
	line-height: 1.5em;
}
p {
	margin-bottom: 10px;
}
.clearfix:after {
	clear: both;
	content: "";
	display: table;
}
.page-bg {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: url('../images/bg-main.jpg') no-repeat 50% 0;
	background-size: auto 100%;
}
.page-wrapper {
	min-height: 100%;
	position: relative;
	z-index: 10;
}
.container {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
.header {
	background:#000 url('../images/bg-header.jpg') no-repeat 50% 0;
	min-height: 590px;
	color: #fff;
	position: relative;
	padding-top: 60px;
}
/*.header:after {
	display: block;
	content: "";
	width: 100%;
	height: 8px;
	background: rgb(200,41,38);
	background: -moz-linear-gradient(left,  rgba(200,41,38,1) 0%, rgba(200,41,38,1) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(200,41,38,1)), color-stop(50%,rgba(200,41,38,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left,  rgba(200,41,38,1) 0%,rgba(200,41,38,1) 50%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left,  rgba(200,41,38,1) 0%,rgba(200,41,38,1) 50%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left,  rgba(200,41,38,1) 0%,rgba(200,41,38,1) 50%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right,  rgba(200,41,38,1) 0%,rgba(200,41,38,1) 50%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c82926', endColorstr='#000000',GradientType=1 );
	position: absolute;
	bottom: 0px;
	left: 0;
}*/
@media(min-width:1400px){
	.page-bg, .header {
		background-size: 100%;
	}
}
.header .logo{
	float: left;
	margin-top: 21px;
}
.header .contacts{
	float: right;
	margin-top: 10px;
	font-size: 14px;
}
.header .contacts .address{
	padding-left: 32px;
	background: url('../images/icon-head.png') no-repeat 0 0;
	margin-bottom: 5px;
}
.header .contacts .phone{
	font-size: 34px;
	padding-left: 32px;
	font-family: 'RoadRadio', 'Roboto', sans-serif;
	background: url('../images/icon-head.png') no-repeat 0 -20px;
	margin-bottom: 10px;
}
.header .contacts .phone span{
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
}
.header .contacts .time{
	font-size: 11px;
	color: #a2e5ff;
	padding-left: 32px;
	padding-top: 5px;
	background: url('../images/icon-head.png') no-repeat 0 -40px;
}
.header .contacts .time:before{
	background-color:transparent;
    background-image: linear-gradient(90deg, rgba(162,229,255,1) 90%, transparent 10%);
    background-size:38px 38px;
	display: block;
	content: "";
	width: 266px;
	height: 4px;
}
.header .info {
	float: left;
	width: 600px;
	margin-top: 15px;
}
.header .info h1{
	color: #fff;
	font-size: 48px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	line-height: 52px;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 220px;
}
.header .info h1 span{
	background: #c82926;
	padding: 0px 30px;
}
.header .info h2{
	color: #fff;
	font-size: 36px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	line-height: 40px;
	text-align: right;
	text-transform: uppercase;
}
.header .info h2 span{
	background: #063248;
	padding: 0px 30px;
	width: 430px;
	display: inline-block;
}
.header .info .car {
	margin-left: -50px;
	margin-top: 10px;
}
.header .order {
	float: right;
	width: 315px;
	margin-top: 15px;
	display: block;
	padding: 40px 25px 35px;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-shadow: 5px 7px 24px 0 rgba(0,0,0,0.29);
	box-shadow: 5px 7px 24px 0 rgba(0,0,0,0.29);
	position: relative;
	border-radius: 10px;
	behavior: url(/PIE.htc);

}
.header .order .sale{
	width: 68px;
	height: 67px;
	position: absolute;
	top: -17px;
	left: -18px;
	/*background: url('../images/sale.png') no-repeat 50% 50%;*/
}
.header .order .desc{
	text-align: justify;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	font-size: 16px;
	color: #28363f;
	line-height: 14px;
	margin-bottom: 20px;
}
.header .order .desc .big{
	font-size: 39px;
	line-height: 38px;
}
.header .order .desc .medium{
	font-size: 42px;
	line-height: 30px;
}
.service {
	padding: 0px 0 40px;
	background: #fff;
}
.service h2{
	padding: 40px 0px;
	color: #fff;
	margin-bottom: 33px;
	background: #063248;
	font-size: 31px;
	line-height: 35px;
}
.service table {
	width: 100%;
}
.service table td,
.service table th,
.price table td,
.price table th {
	padding: 20px;
}
.service table th,
.price table th {
	text-align: center;
	font-size: 18px;
	color: #c0392b;
	font-family: 'RoadRadio', 'Roboto', sans-serif;
	line-height: 22px;
	text-transform: uppercase;
	white-space: nowrap;
}
.service table td,
.price table td {
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
.service table td,
.price table td {
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
.service table th,
.price table th {
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
.service table th:last-child,
.service table td:last-child,
.price table th:last-child,
.price table td:last-child {
	border-right: 0px;
}
.price table td button {
	border: 0px;
	background: #fff;
	color: #000;
	line-height: 40px;
	padding: 0px 20px;
}
.price table td button:hover {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: #c0392b;
	color: #fff;
	cursor: pointer;
}
.service p{
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 30px;
}
.service .service-list {
	font-size: 0;
}
.service .service-list .service-item{
	display: inline-block;
	font-size: 14px;
	width: 143px;
	padding: 0 10px;
	text-align: center;
	margin-bottom: 40px;
	vertical-align: top;
}
.service .service-list .service-icon{
	width: 69px;
	height: 69px;
	margin: 0 auto 15px;
	background-image: url('../images/icon-service.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.service .service-list .service-icon.service-to{
	background-position: 50% 0;
}
.service .service-list .service-icon.service-kuzov{
	background-position: 50% -69px;
}
.service .service-list .service-icon.service-okraska{
	background-position: 50% -138px;
}
.service .service-list .service-icon.service-prodaza{
	background-position: 50% -207px;
}
.service .service-list .service-icon.service-kasko{
	background-position: 50% -276px;
}
.service .service-list .service-icon.service-nomera{
	background-position: 50% -345px;
}
.service .service-list .service-icon.service-montaz{
	background-position: 50% -414px;
}
.service .service-list .service-icon.service-diagnos{
	background-position: 50% -483px;
}
.service .service-list .service-icon.service-moyka{
	background-position: 50% -552px;
}
.service .service-list .service-icon.service-aero{
	background-position: 50% -621px;
}
.why {
	padding: 60px 0 40px 0;
	background: url(../images/why-bg.jpg) center center repeat-x;
	position: relative;
	color: #fff;
}
.why h2,
.why h3 {
	color: #fff;
}
.why h3 {
	font-family: 'RoadRadio','Roboto',sans-serif;
}
.why-item {
	padding-bottom: 15px;
	margin-bottom: 37px;
	border-bottom: 1px dotted #5a646b;
}
.why-item .image {
	float: left;
	margin-left: 75px;
	margin-right: 35px;
	width: 246px;
	height: 245px;
	position: relative;
	border-radius: 50%;
}
.why-item:nth-child(2n) .image{
	float: right;
	margin-right: 75px;
	margin-left: 35px;
}
.why-item .text{
	padding-top: 60px;
}
.why-item:nth-child(2n) .text{
	text-align: right;
}
.why-item:last-child{
	border-bottom: none;
}

.why-item .image .num{
	width: 55px;
	height: 55px;
	position: absolute;
	top: -3px;
	left: 33px;
	background: #c0392b;
	border-radius: 55px;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
	font-size: 46px;
	behavior: url(/PIE.htc);
	font-family: 'RoadRadio', 'Roboto', sans-serif;
}
.why-item .image.why-1 {
	background: url('../images/why-1.jpg') no-repeat 0 0;
}
.why-item .image.why-2 {
	background: url('../images/why-2.jpg') no-repeat 0 0;
}
.why-item .image.why-3 {
	background: url('../images/why-3.jpg') no-repeat 0 0;
}

.partners {
	padding: 55px 0 55px 0;
	position: relative;
	background: #fff;
}
.partners h2 {
	text-align: center;
}

.reviews {
	padding: 75px 0 0;
	background: #7c1312 url('../images/bg-review-top.png') no-repeat 50% 30px;
	position: relative;
}

.reviews .container{
	background: url('../images/bg-review-bot.png') no-repeat 50% 100%;
	padding: 0 0 75px ;
}
.reviews h2 {
	text-align: center;
	color: #fff;
}

.reviews .review-item {
	padding: 17px 20px 30px;
	background: #fff;
	-webkit-box-shadow: 5px 5px 9px 0 rgba(21,21,21,0.15);
	box-shadow: 5px 5px 9px 0 rgba(21,21,21,0.15);
	width: 780px;
	border-radius: 8px;
	position: relative;
	margin-bottom: 67px;
	behavior: url(/PIE.htc);
}
.reviews .review-item:nth-child(2n) {
	margin-left: 83px;
}
.reviews .review-item:after {
	width: 30px;
	height: 20px;
	display: block;
	position: absolute;
	right: 8px;
	bottom: -20px;
	content: "";
	background: url('../images/comment.png') no-repeat 0 0;
}
.reviews .review-item .image{
	float: left;
	margin-right: 28px;
}
.reviews .review-item .image img{
	border-radius: 139px;
}
.reviews .review-item .name {
	font-size: 24px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.reviews .review-item .from {
	font-size: 13px;
}


.slider .slider-item {
	width: 190px;
	float: left;
	height: 150px;
	line-height: 100px;
	vertical-align: middle;
}
.slider .slider-item a{
	display: inline-block;
	vertical-align: middle;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 100%;
}
.slider .slider-item .topform{
	background-image: url('../images/topform.png');
	height: 150px;
}
.slider .slider-item .icon{
	background-image: url('../images/icon.jpg');
	height: 60px;
}
.contacts-block {
	padding: 30px 0 120px;
	color: #fff;
	background: url(../images/bg-bot.jpg) center center no-repeat;
}
.contacts-block .trust {
	width: 460px;
	min-height: 255px;
	margin: 0 auto;
	background: url('../images/trust.png') no-repeat 50% 0;
	text-align: center;
	text-transform: uppercase;
	padding-top: 45px;
	font-family: 'RoadRadio', 'Roboto', sans-serif;
}
.contacts-block .trust .num {
	font-size: 0;
	margin-bottom: 25px;
}
.contacts-block .trust .num span{
	display:inline-block;
	width: 60px;
	font-size: 72px;
	color: #fff;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	height: 71px;
	line-height: 71px;
	vertical-align: middle;
	margin: 0 1px;
	background: url('../images/digit.png') no-repeat 50% 0;
}
.contacts-block .trust .title {
	font-size: 36px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	margin-bottom:120px;
}
.contacts-block .widget {
	float: right;
	margin-top: 95px;
}
.contacts-block .widget p{
	text-transform: uppercase;
}
.contacts-block .widget .date{
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	color: #C0392B;
	font-size: 40px;
	line-height: 30px;
}
.contacts-block .widget .date span{
	font-size: 24px;
}
.contacts-block .widget .time{
	font-size: 24px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
}
.contacts-block .contacts {
	float: left;
	width: 250px;
	margin-top: 90px;
}
.contacts-block .contacts .address{
	padding-left: 35px;
	background: url('../images/icon-addr.png') no-repeat 3px 3px;
	margin-bottom: 20px;
}
.contacts-block .contacts .address span{
	font-size: 13px;
	color: #afafaf;
}
.contacts-block .contacts .phone{
	padding-left: 35px;
	background: url('../images/icon-phone.png') no-repeat 0px 0px;
	min-height: 25px;
}
.map {
	background: #fff;
}
.map-container {
	height: 525px;
	width: 100%;
}
.order-call {
	background: rgba(139, 139, 139, 0.9);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 98px;
	line-height: 98px;
	vertical-align: middle;
	width: 100%;
	font-size: 20px;
	font-family: 'RoadRadio', 'Roboto', sans-serif;
	color: #fff;
	z-index: 100;
}
.order-call strong{
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
}
.order-call .phone {
	padding-left: 50px;
	background: url('../images/call.png') no-repeat 0 50%;
	display: inline-block;
	height: 41px;
	line-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
	color: #fff;
}
.order-call a {
	color: #fff !important;
}

.order-call .button-container {
	float: right;
	height: 98px;
	line-height: 98px;
	vertical-align: middle;
}
.order-call button{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	color:#fff;
	background: #c0392b;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	font-size: 20px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url('/PIE.htc');
	padding: 0 40px;
	cursor: pointer;
	position: relative;
}

.main-menu {
	position: fixed;
	top: 130px;
	left: 5px;
	z-index: 100;
}
.main-menu ul li{
	height: 35px;
	margin-bottom: 0px;
	line-height: 35px;
	vertical-align: middle;
}
.main-menu ul li a{
	height: 19px;
	display: inline-block;
	position: relative;
	padding-left: 43px;
	padding-right: 5px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	line-height: 19px;
	vertical-align: middle;
	color:#fff;
	text-decoration: none;
	font-size: 11px;
	behavior: url('/PIE.htc');
	background: url('../images/bg-menu.png') no-repeat 35px -19px;
}
.main-menu ul li a.active,
.main-menu ul li a:hover{
	padding-left: 48px;
	background-position: 40px 0px;
	behavior: url('/PIE.htc');
}
.main-menu ul li a:before{
	display: block;
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: rgba(40,54,63,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#6628363F,endColorstr=#6628363F);
	behavior: url('/PIE.htc');
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	left: 5px;
	top: 0;
}
.main-menu ul li a.active:before,
.main-menu ul li a:hover:before {
	width: 35px;
	height: 35px;
	background-color: rgba(40,54,63,0.58);
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	left: 0;
	behavior: url('/PIE.htc');
	top: -5px;
}
.main-menu ul li a.menu-order:before{
	background-image: url('../images/icon-order.png');
}
.main-menu ul li a.menu-service:before{
	background-image: url('../images/icon-advantage.png');
}
.main-menu ul li a.menu-advantage:before{
	background-image: url('../images/icon-review.png');
}
.main-menu ul li a.menu-partners:before{
	background-image: url('../images/icon-partner.png');
}
.main-menu ul li a.menu-reviews:before{
	background-image: url('../images/icon-review.png');
}
.main-menu ul li a.menu-contacts:before{
	background-image: url('../images/icon-map.png');
}
.main-menu ul li a.menu-person:before{
	background-image: url('../images/icon-person.png');
}
.call-order-form {
	display: none;
}
.call-order-form h3{
	text-align: center;
}
input[type=text]{
	display: block;
	border: 1px solid #d8d8d8;
	color: #333;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	height: 39px;
	line-height: 39px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 8px;
	margin-bottom: 10px;
	vertical-align: middle;
	padding: 0 8px;
	-webkit-box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.05);
	box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.05);
}
textarea{
	display: block;
	border: 1px solid #d8d8d8;
	color: #333;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	height: 85px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 15px 8px;
	-webkit-box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.05);
	box-shadow:inset 2px 2px 5px 0 rgba(0,0,0,0.05);
}
input[type=text].error-input, textarea.error-input {
	border: 1px solid #df403c;
}
.success {
	color: #00A7E8;
	font-weight: bold;
}
form button {
	color:#fff;
	font-size: 24px;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: block;
	width: 100%;
	height: 54px;
	line-height: 54px;
	vertical-align: middle;
	border: none;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.13);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.13);
	background: rgb(228,69,66);
	background: -moz-linear-gradient(top, rgba(228,69,66,1) 0%, rgba(214,55,51,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,69,66,1)), color-stop(100%,rgba(214,55,51,1)));
	background: -webkit-linear-gradient(top, rgba(228,69,66,1) 0%,rgba(214,55,51,1) 100%);
	background: -o-linear-gradient(top, rgba(228,69,66,1) 0%,rgba(214,55,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(228,69,66,1) 0%,rgba(214,55,51,1) 100%);
	background: linear-gradient(to bottom, rgba(228,69,66,1) 0%,rgba(214,55,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44542', endColorstr='#d63733',GradientType=0 );
	margin-top: 20px;
	cursor: pointer;
}

.about {
	padding: 150px 0 100px;
}

.about .about-item {
	padding: 30px 30px 30px 50px;
	background: rgba(255,255,255,0.38);
	width: 720px;
	position: relative;
	margin-bottom: 67px;
	text-align: left;
	margin-left: 200px;
	color: #000;
	font-size: 24px;
	line-height: 28px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60FFFFFF,endColorstr=#60FFFFFF);
}
.about .about-item:nth-child(2n) {
	margin-left: 0px;
	padding: 30px 50px 30px 30px;
	text-align: right;
}
.about .about-item .title {
	color:#fff;
	font-family: 'RoadRadioBold', 'Roboto', sans-serif;
	font-size: 30px;
}
.about .about-item .num{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	left: -30px;
	background: #f1c40f;
	border-radius: 55px;
	color: #fff;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
	font-size: 46px;
	behavior: url(/PIE.htc);
	font-family: 'RoadRadio', 'Roboto', sans-serif;
}
.about .about-item:nth-child(2n) .num{
	right: -30px;
	left: auto;
}

.guest {
	background: #fff;
	padding: 40px 0;
}
.price h2 {
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 38px;
	background: #c0392b;
	padding: 20px 0px;
}
.guest img{
	float: left;
	margin: 0 30px 30px 0;
}
.guest h2{
	color: #c0392b;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 38px;
}
.guest p span {
	color: #c0392b;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

.photos {
	background: #282828;
}
.photos h2{
	background: #282828;
	color: #fff;
	font-size: 32px;
	line-height: 36px;
	padding: 20px 0px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#slides {
	height: 640px;
	margin: 0 auto;
}
#slides li {
	text-align: left;
	height: 640px;
	width: 960px;
	position: relative;
}
#slides li:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	cursor: pointer;
	display: block;
	background: #cc000000;
	background: rgba(0,0,0,0.8);
}
#slides li.active:before {
	display:none;
}
#slides-small {
	height: 110px;
	margin: 0 auto;
}
#slides-small li {
	text-align: left;
	height: 100px;
	width: 150px;
	text-align: center;
}
#slides-small li {
	cursor: pointer;
	padding: 10px 5px;
}
#slides li.bx-child {}
.photos .bx-wrapper {
	width: 100% !important;
	overflow: hidden;
	margin: 0;
	padding: 0px;
}
.photos .bx-window {
	margin: 0 auto;
	padding: 0px;
	overflow: visible !important;
}
.photos .big-photos .bx-window {
	overflow: visible !important;
}
.photos .bx-pager {
	bottom: 0;
}
.photos .bx-next,.photos  .bx-prev {
	text-indent: -9999px;
}
.photos .small-photos .bx-next {
	height: 120px;
	position: absolute;
	width: 200px;
	right: -200px;
	top: 0;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,4) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#000000',GradientType=1 );
}
.photos .small-photos .bx-next:before {
	display: block;
	content: "";
	position: absolute;
	left: 10px;
	top: 27px;
	width: 37px;
	height:67px;

	background: url("../images/slider-arrow.png") no-repeat 0 -67px;
}
.photos .small-photos .bx-prev {
	height: 120px;
	top: 0;
	position: absolute;
	width: 200px;
	left: -200px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cc000000',GradientType=1 );
}
.photos .small-photos .bx-prev:before {
	display: block;
	content: "";
	position: absolute;
	right: 10px;
	top: 27px;
	width: 37px;
	height:67px;
	background: url("../images/slider-arrow.png") no-repeat 0 0;
}
